{{#> template title=title }}
    <div style="border: 1px grey solid; display: flex; margin-top: 30px; border-radius: 10px; width: auto; height: auto; padding: 20px; justify-content: center;">
        <div style="width: 400px;">{{description}}</div>
        <div style="width: 150px;">
            <a class="btn btn-primary w" href="/weather" role="button">Сторінка погоди</a>
        </div>
    </div>
{{/template}}